
#homepage {
  #home-panel.jumbotron {
    margin-top: -72px;
    padding-top: 72px;
    margin-bottom: 0;
    p:last-child {
      margin-bottom: 0;
    }
    .jumbotron-heading {
      font-weight: 300;
    }
    @media (min-width: 768px) {
      .jumbotron {
        padding-top: 6rem;
        padding-bottom: 6rem;
      }
    }
  }
}

.text-shadow {
  text-shadow: 2px 2px #3a3a3a;
}

.hover-transition {
  -webkit-transition: 0.5s;
  transition: box-shadow 0.5s;
  &:hover {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
  }
}

a:hover {
  color: #007bff;
  text-decoration: inherit;
}