#home-panel.jumbotron {
  padding-top: 8rem;
  padding-bottom: 8rem;
  margin-bottom: 0;
  p:last-child {
    margin-bottom: 0;
  }
  .jumbotron-heading {
    font-weight: 300;
  }
  // .container {
  //   max-width: 40rem;
  // }
}

@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.text-shadow {
  text-shadow: 2px 2px #3a3a3a;
}

.hover-transition {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  &:hover {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
  }
}
