%nav.navbar.navbar-expand-lg.navbar-light.bg-light.py-3
  %a.navbar-brand{href: '/', data: { toggle: 'tooltip', placement: 'right', title: 'Home'}}
    %span.text-primary.p-3.mb-5.rounded.hover-transition
      %i.fas.fa-home
  %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarSupportedContent", "data-toggle" => "collapse", :type => "button"}
    %span.navbar-toggler-icon
  #navbarSupportedContent.collapse.navbar-collapse
    %ul.navbar-nav.mr-auto.d-block-inline
      - if user_signed_in?
        %a{href: articles_path}
          %li.nav-item.py-1.my-3.my-lg-1
            %span.text-primary.p-3.mb-5.rounded.hover-transition{data: { toggle: 'tooltip', placement: 'right', title: 'Articles'}}
              %i.fas.fa-newspaper
    %hr/
    .pl-1.ml-2.my-3.my-lg-1
      = render 'layouts/login_status'
